DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/vehicle_sales
POSTGRES_DB=vehicle_sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_SERVICES=s3
DEBUG=0
LOCALSTACK_PERSISTENCE=1
LOCALSTACK_AUTH_TOKEN=
LOCALSTACK_ENDPOINT=http://localhost:4566
